<html>
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}style.css">
</head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Toocoo CMS</title>
<body>
    <!-- <h1>My helpful timestamp site</h1> -->
    {% block content %}{% endblock %}

</body>
</html>