{% extends "base.html" %}

{% block content %}
    <section class="container2">
	<div class="admin">
		<h1>Admin Dashboard</h1>

		<!-- Logout button -->
		<form method="post" action="">
            {% csrf_token %}
			<p class="submit"><input type="submit" name="logout" value="Logout"></p>
		</form>

        <!-- Create Template button -->
        <p class="create">
			<div class="createbutton2">
				<input type="image" id="createbutton" src="http://ourbeautytest2.com/cms/img/create.png" onClick="showTemplates();">
		    </div>
        </p>

        <!-- Display all current campaigns under this user -->
        {%  for camp in campaigns %}
            <p class="follow-up">
            <a href="/{{ camp.campaign }}" target="_blank"><h3 class="campaign-name"><font face="verdana" size="20">{{ camp.campaign }}</font></h3></a>
            <form method="post" action=""><input type="image" class="campaign-delete" align="right" src="http://ourbeautytest2.com/cms/img/delete.png" height="40" width="40" value="submit"></form>
            <form method="post" action=""><input type="image" class="campaign-delete" align="right" src="http://ourbeautytest2.com/cms/img/edit.png" height="40" width="40" value="submit"></form>
            </p>
            </br></br></br>
        {% endfor %}
	</div>
</section>
{% endblock %}