{% extends "base.html" %}

{% block content %}
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <section class="container">
    <div class="login">
        <form method="post" action="">
            {% csrf_token %}

            <p><label> Username: <input type="text" name="username" required /></label></p>
            <p><label> Password: <input type="password" name="password" required /></label></p>

            <p class="submit"><input type="submit" name="submit" value="Login"></p>
        </form>
    </div>
    </section>
{% endblock %}




